<div>
    <p>
        <p class="lead">2017级方向志愿填报采用对各方向志愿排序的方法进行。</p>
        <h4>具体操作和规则如下：</h4>
        <ol>
            <li>
                志愿分为<strong>第一批</strong>和<strong>第二批</strong>，第一批只包含第一志愿，第二批则包含从第二志愿起的所有剩余志愿。
            </li>
            <li>
                第一批录取参照第一志愿方向指定的方向前导课程的卷面成绩与竞赛获奖、发表论文等已认定的加分之和择优录取。第一批未被录取者由第二批录取。
                <mark>第一志愿的考查课程可在鼠标选题该志愿列表项上查看。</mark>
            </li>
            <li>
                第二批录取参照指定三门专业课成绩与竞赛获奖、发表论文等已认定的加分之和排序，总分较高者按照志愿填报顺序优先录取从第二志愿起的剩余志愿方向。
                <mark>三门专业课包括：C语言程序设计、数据库系统原理、计算机网络。</mark>
            </li>
        </ol>         
    </p>
</div>
