@using DirectionRegistration.Models
@model DirectionRegistration.Models.DirectionViewModel

@{
    ViewBag.Title = "方向管理";
}

<div class="alert alert-danger" style="display:none;" id="my-alert">
    <button class="close" type="button">&times;</button>
    <strong></strong>
</div>
<div class="page-header">
    <h3>方向管理</h3>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">添加方向</h3>
    </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("Add", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onAddSuccess", LoadingElementId = "loading" }, new { @class = "form-inline" }))
        {
            <div class="form-group col-sm-4">
                <label class="sr-only" for="courseName">方向名</label>
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "方向名" })
            </div>
            <div class="form-group col-sm-4">
                <label class="sr-only" for="courseName">上限人数</label>
                @*@Html.DropDownListFor(model => model.TeacherId, ViewBag.Teachers as List<SelectListItem>, new { @class = "form-control" })*@   
                @Html.TextBoxFor(model=>model.Max, new { @class="form-control", placeholder="上限人数"})
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">添加</button>
                <img id="loading" style="display:none;" src="~/Content/Images/loading.gif" />
            </div>
        }
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">方向列表</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>方向名</th>
                    <th>人数上限</th>
                    @*<th>负责人</th>*@
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="directions">
                @Html.Action("GetDirections", "Direction")
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        function showModify(id) {
            var url = '@Url.Action("Modify","Direction")' + '/' + id;
            handleModal({
                title: '修改方向信息',
                url: url,
                submit: '保存'
            });
        }
        
        function onAddSuccess(d) {
            if (d.code == 1) {
                toastr.warning(d.data);
            } else {
                toastr.success('添加成功');
                $('#directions').html(d);
            }
        }
        function onDelSuccess(d) {
            if (d.code == 1) {
                toastr.warning(d.data);
            } else {
                toastr.success('删除成功');
                $('#directions').html(d);
            }
        }
        function onModifySuccess(d) {
            $('#myModal').modal('hide')
            if (d.code == 1) {
                toastr.warning(d.data);
            } else {
                toastr.success('修改成功');
                $('#directions').html(d);
            }
        }
    </script>
}
