@model DirectionRegistration.Models.CourseViewModel

@using (Ajax.BeginForm("Modify", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onModifySuccess",LoadingElementId="loading" }, new { @class = "form" }))
{
    <div class="form-group">
        <label class="sr-only" for="courseName">课程名</label>
        @Html.HiddenFor(model => model.Id)
        @Html.TextBoxFor(model => model.CourseName, new { @class = "form-control", placeholder = "课程名" })
    </div>
}


